<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    {% include header.html %}
<div class="big-container">
      {% include left-toc.html %}

    <div class="body-container">
      <h1 class="post-title">
        {{ page.title | escape }}
      </h1>
      <div class="article-info">
        {%- if page.contributors -%}
          <span class="contributor-list"><i class="fas fa-users"></i>
            {%- for contributor in page.contributors -%}
            {%- assign thisContributor = site.data.contributors[contributor] -%}
              <a href="https://www.github.com/{{ thisContributor.github }}">{{ thisContributor.name }}</a>
              {%- unless forloop.last -%},&nbsp;{%- endunless -%}
            {%- endfor -%}
          </span>
        {%- endif -%}
      </div>

      <main class="page-content" aria-label="Content">
        {{ content }}
      </main>

      {% include disqus-comments.html %}


    </div> <!-- /.body-container -->
    {% include related-links.html %}
    {% include anchorjs.html %}
  </div> <!-- /div.big-container -->
  {% include footer.html %}
  </body>

</html>
