<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="body-container">
      <div class="toc-container">
        {% if page.api-page != true %}
          {% include left-toc.html %}
        {% endif %}

        {% if page.this-page-toc == true %}
        <nav class="this-page-toc" id="this-page-toc">
          <ul class='tocify-header'><li><h3>In this article</h3></li></ul>
          <script type="text/javascript">
          $(function() {
            //Calls the tocify method
            $("#this-page-toc").tocify({
              'context': '.page-content',
              'selectors': 'h2',
              'showAndHide': false,
              'theme': 'none',
              'hashGenerator': 'pretty'
            });
          });
          </script>
        </nav> <!-- /.this-page-toc -->
        {% endif %}
      </div> <!-- /.toc-container -->

      <main class="page-content" aria-label="Content">
        {% include breadcrumbs.html %}
        {% include community.html %}
        {{ content }}
      </main>

    </div> <!-- /.body-container -->

    {% include footer.html %}

  </body>

</html>
