<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

<div class="big-container">
  {% include header.html %}
    <div class="toc-container full-width">
      <div class="algolia-search-widget">
        <div id="search-searchbar"></div>
        <div id="search-hits" class="search-hits-show"></div>
      </div>
      {% include algolia.html %}
    </div> <!-- /.toc-container -->

    <div class="body-container card-container full-width">
        {{ content }}
    </div> <!-- /.body-container -->
    {% include footer.html %}
  </div> <!-- /div.big-container -->
  </body>

</html>
