<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    {% include header.html %}
<div class="home-page-container card-container full-width">
      {% for card in page.cards %}
        <div class="card">
          <a href="{{ card.url | prepend: site.baseurl }}">
          <h5 class="card-title">{{ card.title }}</h5>
            <img class="card-img-top" src="{{ card.icon | prepend: site.baseurl | prepend: "/img/home-icons/" }}" alt="Card image cap">
              <p class="card-text">{{ card.description }}</p>
          </a>
        </div>
      {% endfor %}


      {% for card in page.half-cards %}
      {% cycle '<div class="half-card-container">', '' %}
      <div class="card half-card">
        <a href="{{ card.url | prepend: site.baseurl }}">
          <h5 class="card-title">{{ card.title }}</h5>
          <p class="card-text">{{ card.description }}</p>
        </a>
      </div>
      {% cycle '', '</div>' %}
      {% endfor %}

  </div> <!-- /div.big-container -->
  {% include footer.html %}
  </body>

</html>
