<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    {% include header.html %}
<div class="home-page-container full-width">
  {% include left-toc.html %}
  <div class="card-container">
      {% for card in page.cards %}
        <div class="card">
        <a href="{{ card.url | prepend: site.baseurl }}">
          <img class="card-img-top" src="{{ card.icon | prepend: site.baseurl | prepend: "/img/home-icons/" }}" alt="Card image cap">
        </a>
          <div class="card-text">
            <a href="{{ card.url | prepend: site.baseurl }}">
            <h5 class="card-title">{{ card.title }}</h5>
            <p>{{ card.description }}</p>
          </a>
          </div>
        </div>
      {% endfor %}
    </div>


      <div class=" card-container half-card-container">
        {% for card in page.half-cards %}
      <div class="card half-card">
        <div class="card-text">
        <a href="{{ card.url | prepend: site.baseurl }}">
          <h5 class="card-title">{{ card.title }}</h5>
        </a>
      </div>
      </div>
        {% endfor %}
      </div>

  </div> <!-- /div.big-container -->
  {% include footer.html %}
  </body>

</html>
