/* ===== FONT IMPORTS ===== */
/* Roboto (body) and Titillium (heading) */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
@import url('https://fonts.googleapis.com/css?family=Titillium+Web');


/* ===== PAGE LAYOUT ===== */

div.body-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex: 1 1 auto;
  position: absolute;
  top: 100px;
}

header.site-header, div.site-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: white;
  z-index: 100;
  flex: 1 initial 100%;
}

div.toc-container {
  display: flex;
  flex-direction: row;
  position: sticky;
  top: 100px;
}

.all-pages-toc, .this-page-toc {
  width: 250px;
}


main.page-content {
  flex: 2;
  max-width: 500px;
}

/* ===== BASE STYLES ===== */

html {
  font-size: 16px;
}

body, h6, h5 {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: #757c86;
  margin-bottom: 1rem;
}

h1, h2, h3, h4, h5, .site-title, .post-title {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 400; /* neutral weight */
  padding: 0;
  color: #296386;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
  padding-top: 0;
  margin-top: 0;
}

h1, .site-title, .post-title {
  font-size: 2rem;
}

.post-title {
  text-transform: uppercase;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-weight: 700;
}

h6 { /* We use h6 to introduce procedures. If you need a regular heading, use h5 */
  font-weight: 700; /* bold */
  color: #757c86;
}

h6:before { /* '>' to indicate a procedure */
  content: "> "
}

/* Alpha nested ordered lists */
ol ol {
  list-style-type: lower-alpha;
}

a, a:hover {
  /* color: #296386; */
  color: #009cbd;
  text-decoration: none;
}

/* ===== SITE HEADER ===== */

header.site-header {
  border-bottom: 3px solid rgb(41, 99, 134) !important;
  padding: 15px !important;
}

/* ===== ALL-PAGES TOC STYLING ===== */

ul.parent, ul.child {
  text-transform: uppercase;
}

ul.parent {
  font-size: 1.1rem;
  font-weight: 400;
  padding-left: 1rem;
}

ul.parent > li {
  margin-top: 0;
  margin-bottom: 20px;
}

ul.child {
  font-size: .9rem;
  padding-left: .5rem;
  margin-top: .5rem;
}

ul.child > li {
  margin-bottom: .5rem;
}

.all-pages-toc, .all-pages-toc a, .this-page-toc, .this-page-toc a {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.25rem;
  color: #757c86;
}

/* mark the active page */
.active-page > a {
  color: #009cbd;
}

/* remove bullets */
.all-pages-toc ul, .this-page-toc ul {
  list-style: none;
  width: 200px;
}

/* indent nested ul */
ul.child {
}

/* ===== THIS-PAGE TOC STYLING ===== */

ul.tocify-header {
  width: 200px;
  padding: 0;
}

ul.tocify-header li {
  margin-bottom: .5rem;
  padding: 6px;
}

li.tocify-focus {
  border-radius: 10px;
  background-color: #009cbd33;
  transition-duration: 0.5s;
}

/* ===== BREADCRUMBS & COMMUNITY BUTTONS ===== */

nav.breadcrumbs ul.breadcrumb, div.community-buttons ul {
  margin-left: 0;
  margin-top: 0;
  padding: 0;
  font-size: .8rem;
  margin-bottom: 1rem;
  list-style: none;
  background-color: white;
}

nav.breadcrumbs li.breadcrumb::after, div.community-buttons li::after {
   content: "";
   display: table;
   clear: both;
}

nav.breadcrumbs li.breadcrumb-item, div.community-buttons li {
   float: left;
}

nav.breadcrumbs li.breadcrumb-item+.breadcrumb-item::before {
   display: inline-block;
   padding-right: 0.3rem;
   padding-left: 0.3rem;
   content: "/";
}

div.community-buttons {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
  clear: both;
}

div.community-buttons li+li::before {
  display: inline-block;
  padding-right: 0.1rem;
  padding-left: 0.1rem;
  content: "";
}

/* ===== SEARCH ===== */

.ais-search-box {
  max-width: 100%;
  margin-bottom: 15px;
}

div#search-hits {
  position: absolute;
  background-color: silver;
  display: block;
  z-index: 100;
}

.post-item {
  margin-bottom: 30px;
}

.post-link .ais-Highlight {
  color: #111;
  background-color: yellow;
  font-style: normal;
  /* text-decoration: underline; */
}

.post-breadcrumbs {
  color: #424242;
  display: block;
}

.post-breadcrumb {
  font-size: 18px;
  color: #424242;
}

.post-breadcrumb .ais-Highlight {
  font-weight: bold;
  font-style: normal;
  background-color: yellow;
}

.post-snippet .ais-Highlight {
  color: #2a7ae2;
  font-style: normal;
  font-weight: bold;
  background-color: yellow;
}

.post-snippet img {
  display: none;
}
