body {
  margin: 0;
  padding: 0;
}

iframe {
  padding: 0;
  margin: 0;
  border: none;
  width: 100%;
}

iframe.header-frame {
  position: sticky;
  z-index: 100;
  top: 0;
  left: 0;
  height: 54px;
  background-color: white;
}

/*  hide redoc search bar */
div[role=search] {
  display: none;
}


/* Override redoc capitalization, and text & link colors
  These are temporary workarounds until redoc documents theming  */
  
ul[role=navigation] label {
  text-transform: none;
}

ul[role=navigation] label[type=group] {
  text-transform: uppercase;
}

h1 {
  color: #296386 !important;
}

a {
  color: #009cbd !important;
}
