/* ===== FONT IMPORTS ===== */
/* Roboto (body) and Titillium (heading) */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

/* ===== PAGE LAYOUT ===== */

div.body-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex: 1 1 auto;
  position: absolute;
  top: 100px;
}

header.site-header, div.site-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: white;
  z-index: 100;
  flex: 1 initial 100%;
}

div.toc-container {
  display: flex;
  flex-direction: row;
  position: sticky;
  top: 100px;
}

.all-pages-toc, .this-page-toc {
  width: 250px;
}


main.page-content {
  flex: 2;
  max-width: 500px;
}

/* ===== BASE STYLES ===== */
body, h6 {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #757c86;
}

h1, h2, h3, h4, h5, .site-title, .post-title {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 400; /* neutral weight */
  padding: 0px;
  color: #296386;
  margin-top: 20px;
  margin-bottom: 10px;
}

h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
  padding-top: 0;
  margin-top: 0;
}

h1, .site-title, .post-title {
  font-size: 32px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 14px;
}

h6 { /* We use h6 to introduce procedures. If you need a regular heading, use h5 */
  font-weight: 700; /* bold */
  color: #757c86;
}

h6:before { /* '>' to indicate a procedure */
  content: "> "
}

/* Alpha nested ordered lists */
ol ol {
  list-style-type: lower-alpha;
}

a, a:hover {
  /* color: #296386; */
  color: #009cbd;
  text-decoration: none;
}

/* ===== SITE HEADER ===== */

header.site-header {
  border-bottom: 3px solid rgb(41, 99, 134) !important;
  padding: 15px !important;
}

/* ===== ALL-PAGES TOC STYLING ===== */

.all-pages-toc, .all-pages-toc a, .this-page-toc, .this-page-toc a {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #757c86;
}

/* mark the active page */
.active-page > a {
  font-weight: 700;
  color: #009cbd;
}

/* remove bullets */
.all-pages-toc ul, .this-page-toc ul {
  list-style: none;
  margin: 0;
  padding: 0 25px;
  width: 200px;
}

.all-pages-toc > ul > li > a {
  font-weight: 700;
}

.all-pages-toc > ul > li {
  padding-bottom: 15px;
}

/* indent nested ul */
.all-pages-toc ul ul {
  padding-left: 10px;
}

/* ===== THIS-PAGE TOC STYLING ===== */
ul.tocify-header {
  width: 200px;
  padding: 0;
}

ul.tocify-header li {
  margin-bottom: .5rem;
  padding: 6px;
}


<<<<<<< HEAD
li.tocify-focus {
  border-radius: 10px;
  background-color: #009cbd33;
  transition-duration: 0.5s;
=======
  li.tocify-focus {
    background-color: #009cbd33;
    transition-duration: 0.5s;
  }

/* ===== BREADCRUMBS ===== */
nav.breadcrumbs ol.breadcrumb {
  margin-left: 0;
  margin-top: 0;
  padding: 0;
  font-size: .9rem;
  margin-bottom: 1rem;
  list-style: none;
  background-color: white;
  border-radius: 0.25rem;
}

nav.breadcrumbs .breadcrumb::after {
   content: "";
   display: table;
   clear: both;
}

nav.breadcrumbs .breadcrumb-item {
   float: left;
}

nav.breadcrumbs .breadcrumb-item+.breadcrumb-item::before {
   display: inline-block;
   padding-right: 0.3rem;
   padding-left: 0.3rem;
   /* color: #757c86; */
   content: "/";
<<<<<<< HEAD
=======
>>>>>>> master
>>>>>>> rework-tocs
}
