body {
  margin: 0;
  padding: 0;
}

iframe {
  padding: 0;
  margin: 0;
  border: none;
  width: 100%;
}

iframe.header-frame {
  position: sticky;
  z-index: 100;
  top: 0;
  left: 0;
  height: 54px;
  background-color: white;
}

/*  hide redoc search bar */
/* div[role=search] {
  display: none;
} */

/* Override redoc styles  */

<<<<<<< HEAD
ul[role=navigation] label {
  text-transform: none;
}

h1 {
  text-transform: none !important;
=======
ul[role=navigation] label, h1 {
  text-transform: none;
>>>>>>> move redoc styles from css to init script
}

ul[role=navigation] label[type=group] {
  text-transform: uppercase;
}
