{% unless page.breadcrumbs == false %}
<div class="breadcrumbs-container">
  <nav class="breadcrumbs">
       <ul class="breadcrumb horizontal-list" vocab="http://schema.org/" typeof="BreadcrumbList">
          {% for crumb in breadcrumbs %}
          <li class="breadcrumb-item{% if forloop.first %} icon{%- endif -%}" property="itemListElement" typeof="ListItem">
            {%- if forloop.first -%}
              <a href="{{ site.baseurl }}/">Docs</a>
            {%- elsif forloop.last -%}
              {{ crumb.title }}
            {%- else -%}
              <a href="{{ crumb.url }}">{{ crumb.title }}</a>
            {%- endif -%}
          </li>
          {% endfor %}
        </ul>
  </nav>
</div>
{% if site.public == true %}
  <div class="community-container">
    <ul class="horizontal-list">
      <li class="icon"><a href="{{ site.github_repo_url }}/fork">{% octicon repo-forked %} Fork</a></li>
      <li class="icon"><a href="{{ site.github_repo_url }}/issues">{% octicon issue-opened %} Issue</a></li>
      <li class="icon"><a href="">{% octicon pencil %} Edit</a></li>
    </ul>
  </div>
{% endif %}
{% endunless %}
