<div class="community-buttons">
  <ul>
    <li><a class="github-button" href="https://github.com/imnotashrimp/logz-docs-test/fork" data-icon="octicon-repo-forked" data-show-count="false" aria-label="Fork imnotashrimp/logz-docs-test on GitHub">Fork Repository</a></li>

    <li><a class="github-button" href="https://github.com/imnotashrimp/logz-docs-test/issues" data-icon="octicon-issue-opened" data-show-count="false" aria-label="Issue imnotashrimp/logz-docs-test on GitHub">Report Docs Issue</a></li>

    <li><a class="atom-feed" href="{{ site.baseurl }}/feed.xml"><i class="fas fa-rss-square"></i></a></li>
  </ul>
</div>
