<footer>
  <div class="site-logo-footer">
    <ul>
      <li>&copy; 2018 Logz.io, all rights reserved.</li>
      <li><a href="https://logz.io/about-us/privacy-policy/">Privacy Policy</a></li>
      <li><a href="https://logz.io/about-us/terms-of-use/">Terms Of Use</a></li>
      <li><a href="{{ site.baseurl }}/about/credits.html">Credits & contributors</a></li>
    </ul>
  </div>

  <div class="github-repo-links">
    <ul>
      <li class="icon"><a href="{{ site.github_url }}/{{ site.github_repo }}"><i class="fas fa-code-branch"></i></a></li>
      <li class="icon"><a href="{{ site.github_url }}/{{ site.github_repo }}/issues"><i class="fas fa-exclamation-circle"></i></a></li>
    </ul>
    <ul>
      <li class="icon"><a href="{{ site.facebook_url }}"><i class="fab fa-facebook-f"></i></a></li>
      <li class="icon"><a href="{{ site.twitter_url }}"><i class="fab fa-twitter"></i></a></li>
      <li class="icon"><a href="{{ site.youtube_url }}"><i class="fab fa-youtube"></i></a></li>
      <li class="icon"><a href="{{ site.google_plus_url }}"><i class="fab fa-google-plus-g"></i></a></li>
      <li class="icon"><a href="{{ site.linkedin_url }}"><i class="fab fa-linkedin-in"></i></a></li>
    </ul>
  </div>
</footer>
