<nav class="all-pages-toc">
  {% assign sidebar = site.data.toc %}
  <ul id="docnavsidebar" class="parent">
      {% for parent in sidebar.firstLevel %}
      <li>
        {% if parent.url %}<a href="{{ parent.url | prepend:site.baseurl }}">{{ parent.title }}</a>
        {% else %}<span style="color: yellow;">{{ parent.title }}</span>{% endif %}
          <ul class="child">
              {% for child in parent.secondLevel %}
              <li>
                {% if child.url %}<a href="{{ child.url | prepend:site.baseurl }}">{{child.title}}</a>
                {% else %}<span style="color: yellow;">{{ child.title }}</span>{% endif %}

                <ul class="grandchild">
                  {% for grandchild in child.thirdLevel %}
                  <li>
                    {% if grandchild.url %}<a href="{{ grandchild.url | prepend:site.baseurl }}">{{grandchild.title}}</a>
                    {% else %}<span style="color: yellow;">{{ grandchild.title }}</span>{% endif %}
                  </li>
                  {% endfor %}
                </ul>
              </li>
              {% endfor %}
            </ul>
      </li>
      {% endfor %}
  </ul>

  <script>$("li.open").parents('li').toggleClass("open");</script>

</nav>
