<nav class="all-pages-toc">
  <ul class="parent">
    {% for parent in site.data.toc.parents %}
    <li class="{% if parent.url == page.url %}active-page{% endif %}">
      <a href="{{ site.baseurl }}{{ parent.url }}" title="Go to {{ parent.title }}">{{ parent.title }}</a>

      {% if parent.children %}
      <ul class="child">
        {% for child in parent.children %}
          <li class="{% if child.url == page.url %}active-page{% endif %}">
            <a href="{{ site.baseurl }}{{ parent.url }}{{ child.url }}" title="Go to {{ child.title }}">{{ child.title }}</a>

            {% if child.grandchildren %}
              <ul class="grandchild">
              {% for grandchild in child.grandchildren %}
                <li class="{% if grandchild.url == page.url %}active-page{% endif %}">
                  <a href="{{ site.baseurl }}{{ parent.url }}{{ child.url }}{{ grandchild.url }}" title="Go to {{ grandchild.title }}">{{ grandchild.title }}</a>
                </li> <!-- /ul.grandchild > li -->
              {% endfor %}
              </ul> <!-- /ul.grandchild -->
            {% endif %}
          </li> <!-- /ul.child > li -->
        {% endfor %}
      </ul> <!-- /ul.child -->
      {% endif %}
    </li> <!-- /ul.parent > li -->
    {% endfor %}
  </ul> <!-- /ul.parent -->
</nav>
