{% unless page.related-links == false %}
<div class="related-links-container">
  {% include community.html %}
  <div class="tags">
    <span>Tags</span>
    <ul>
      <li>tag 1</li>
      <li>tag 2</li>
      <li>tag 3</li>
    </ul>
  </div>

  <div class="related-docs">
    <span>Related docs</span>
    <ul>
      <li>related docs 1</li>
      <li>related docs 2</li>
      <li>related docs 3</li>
    </ul>
  </div>

  <div class="related-blog">
    <span>From our blog</span>
    <ul>
      <li>related docs 1</li>
      <li>related docs 2</li>
      <li>related docs 3</li>
    </ul>
  </div>

</div>
{% endunless %}
