<!-- right TOC -->
{% if page.this-page-toc == true %}
  <nav class="this-page-toc js-toc toc relative z-1 transition--300 absolute pa4 is-position-fixed">

  <script type="text/javascript">
  tocbot.init({
    tocSelector: '.js-toc', // Where to render the table of contents.
    contentSelector: '.page-content', // Where to grab the headings to build the table of contents.
    headingSelector: 'h2, h3, h4' // Which headings to grab inside of the contentSelector element.
  });
  </script>
</nav>
{% endif %}

<!-- /right TOC -->
