swagger: '2.0'
schemes: [ https ]
host: api.logz.io
basePath: /v1
produces: [ application/json ]
consumes: [ application/json ]
info:
  description: |
    # Introduction

    This API is documented using the **OpenAPI 2.0** specification. You can browse the API documentation on this page, or you can download the specification file.

    ### Updates and improvements

    We update this document regularly to reflect changes to the Logz.io API. If you'd like to suggest corrections or improvements to this document, please email us at [support@logz.io](mailto:support@logz.io) or click **Edit** at the top of this page.

    # Authentication and rate limiting

    <!-- ReDoc-Inject: <security-definitions> -->

    The Logz.io API is available to Enterprise plan subscribers. You can create a new API key in your [account settings](https://app.logz.io/#/dashboard/settings/manage-accounts_). You can also set and revoke API permissions at any time.

    If you don't have an Enterprise account, we encourage you to sign up for a [free trial](https://logz.io/signup/freetrial.php).


  version: 1.0.0
  title: Logzio API
  termsOfService: 'https://logz.io/about-us/terms-of-use/'
  contact:
    email: help@logz.io
    url: https://logz.io/
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'

securityDefinitions:
  API key:
    description: This is used in most of our endpoints. If no other security methods are used, this one wins.
    type: apiKey
    in: header
    name: X-API-KEY
security:
  - API key: []

tags:
  # ::::: ACCOUNTS TAGS
  - name: Retrieve accounts
    description: Retreive partial or detailed account information
  - name: Create, update, or delete accounts
    description: Make a new account, or modify an existing account

  # ::::: TRIGGERS - ALERTS TAGS
  - name: Retrieve alert definitions
    description: Retrieve a list of alert definitions. Each item in the list returns the alert query and settings.
  # - name: Retrieve triggered alerts
  #   description: Retrieve a list of alerts triggered in your accounts.
  - name: Create, update, or delete alert definitions
    description: Make a new alert definition, or modify an existing alert definition

  # ::::: TRIGGERS - OPTIMIZER TAGS
  - name: Retrieve optimizer definitions
    description: Retrieve a list of optimizer definitions. Each item in the list returns the optimizer query and settings.
  - name: Create, update, or delete optimizer definitions
    description: Make a new optimizer definition, or modify an existing optimizer definition

  # ::::: SEARCH, SCROLL TAGS
  - name: Search logs
    description: Use the /search resource to run search queries on your Logz.io data. The query language used is Elasticsearch Search API DSL, with some limitations. To ensure system performance, we've restricted some options from the Elasticsearch defaults.

  # ::::: AUDIT TRAIL TAGS
  - name: Retrieve audit trail
    description: Retrieve a list of all event types stored in the audit trail

  # ::::: CLOUDTRAIL TAGS
  - name: Retrieve account CloudTrails
  - name: Create, update, or delete CloudTrails

  # ::::: NOTIFICATION ENDPOINT TAGS
  - name: Retrieve endpoints
  - name: Create endpoints
  - name: Update endpoints
  - name: Delete endpoints

  # ::::: KIBANA IMPORT/EXPORT TAGS
  - name: Import or export Kibana objects

  # ::::: SHARED TOKEN TAGS
  - name: Retrieve tokens and filters
  - name: Create, update, or delete tokens and filters

x-tagGroups:
  - name: Accounts
    tags:
      - Retrieve accounts
      - Create, update, or delete accounts
  - name: Alerts
    tags:
      - Retrieve alert definitions
      # - Retrieve triggered alerts
      - Create, update, or delete alert definitions
  - name: Audit trail
    tags:
      - Retrieve audit trail
  - name: CloudTrail
    tags:
      - Retrieve account CloudTrails
      - Create, update, or delete CloudTrails
  - name: Kibana
    tags:
      - Import or export Kibana objects
  - name: Notification endpoints
    tags:
      - Retrieve endpoints
      - Create endpoints
      - Update endpoints
      - Delete endpoints
  - name: Optimizers
    tags:
      - Retrieve optimizer definitions
      - Create, update, or delete optimizer definitions
  - name: Search
    tags:
      - Search logs
  - name: Shared tokens
    tags:
    - Retrieve tokens and filters
    - Create, update, or delete tokens and filters



paths:
  # ::::: ACCOUNTS
  /account-management/time-based-accounts:
    get:
      summary: Retrieve sub accounts
      tags:
        - Retrieve accounts
      operationId: getAll
      responses:
        200:
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/TimeBasedAccount'
      x-code-samples:
      - lang: Shell
        source: |
          curl --request GET --url https://api.logz.io/v1/account-management/time-based-accounts --header 'X-API-TOKEN: {API key}'
    post:
      summary: Create a time-based account
      tags:
        - Create, update, or delete accounts
      operationId: createTimeBasedAccount
      parameters:
        - in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/TimeBasedAccountUpsertRequest'
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/TimeBasedAccountCreationResponse'
      x-code-samples:
      - lang: Shell
        source: |
          curl -X POST \
            https://api.logz.io/v1/account-management/time-based-accounts \
            -H 'X-API-TOKEN: {API key}' \
            -d '{
            "email": "support@logz.io",
            "accountName": "AWS Lambda svr 3",
            "maxDailyGB": 5,
            "retentionDays": 5,
            "searchable": true,
            "accessible": false,
            "sharingObjectsAccounts": [
              48672,
              36259
            ],
            "docSizeSetting": true,
            "utilizationSettings": {
              "frequencyMinutes": 5,
              "utilizationEnabled": true
            }
          }'
  /account-management/time-based-accounts/detailed:
    get:
      summary: Retrieve all time-based accounts
      description: This endpoint retrieves detailed information on the time-based accounts, which includes the main account and any sub accounts
      tags:
        - Retrieve accounts
      operationId: getAllDetailedTimeBasedAccount
      responses:
        200:
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/DetailedTimeBasedAccount'
      x-code-samples:
      - lang: Shell
        source: |
          curl -X GET https://api.logz.io/v1/account-management/time-based-accounts/detailed -H 'X-API-TOKEN: {API key}'
  /account-management/time-based-accounts/detailed/{id}:
    get:
      summary: Retrieve detailed account information by account ID
      tags:
        - Retrieve accounts
      operationId: getDetailedTimeBasedAccount
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
          description: ID of the account to be retrieved
          x-example: 99999
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/DetailedTimeBasedAccount'
      x-code-samples:
      - lang: Shell
        source: "curl -X GET https://api.logz.io/v1/account-management/time-based-accounts/detailed/99999 -H 'X-API-TOKEN: {API key}'"
  /account-management/time-based-accounts/{id}:
    get:
      summary: Retrieve account by ID
      tags:
        - Retrieve accounts
      operationId: get
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
          description: ID of the account to be retrieved
          x-example: 99999
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/TimeBasedAccount'
      x-code-samples:
      - lang: Shell
        source: "curl -X GET https://api.logz.io/v1/account-management/time-based-accounts/99999 -H 'X-API-TOKEN: {API key}'"
    put:
      summary: Update a time-based account
      tags:
        - Create, update, or delete accounts
      operationId: updateTimeBasedAccount
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
          description: ID of the account to be updated
          x-example: 99999
        - in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/TimeBasedAccountUpsertRequest'
          description: "??"
      responses:
        200:
          description: successful operation
    delete:
      summary: Delete a time-based account
      tags:
        - Create, update, or delete accounts
      operationId: deleteTimeBasedAccount
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
          description: ID of the account to be deleted.
          x-example: 99999
      responses:
        200:
          description: successful operation

  # ::::: SEARCH, SCROLL
  /search:
    post:
      summary: Run an Elasticsearch query
      tags:
        - Search logs
      parameters:
        - in: body
          name: body
          required: true
          schema:
            type: object
            required:
              - query
            properties:
              from:
                type: number
                default: 0
                description: ??description
              size:
                type: number
                description: Number of results to return
                default: 10
              sort:
                type: array
                description: Array that allows sorting by specific fields. Each array item contains a field name and sort parameters. See [Elasticsearch Sort](https://www.elastic.co/guide/en/elasticsearch/reference/5.5/search-request-sort.html) for more information.
                items:
                  type: object
              _source:
                type: array
                description: >-
                  * _Option 1:_ A single item to say whether you want to return the `_source` field.

                  * _Option 2:_ An array of fields to return.
                items:
                  - type: boolean
                    description: To return the `_source` field, `true`. Otherwise, `false`.
                    example: true
                  - type: string
                    description: Fields to return.
              post_filter:
                type: object
              # aggs:
              # aggregations:
      responses:
        200:
          description: successful query
          schema:
            type: object
            example: { "hits": { "total": 339604, "max_score": 0, "hits": [] }, "aggregations": { "byType": { "doc_count_error_upper_bound": 0, "sum_other_doc_count": 44879, "buckets": [ { "key": "web-app", "doc_count": 163690 }, { "key": "core-service", "doc_count": 64893 } ] } } }
        400:
          description: invalid query
          schema:
            type: string
            description: >-
              Possible responses:
                * `Found JSON elements which are not allowed ...`
                * `... query_string.allow_leading_wildcard not allowed to be true`
                * `... 'wildcard' queries are not allowed to start with '*' or '?'`
                * `... contains a wildcard search with leading wildcard which is not allowed ...`
                * `Query has failed. Elasticsearch Response: ...`
                * `Query syntax (in 'query' field) is invalid: ...`
                * `This search can't be executed: ... Please contact customer support for more details`
            example: Found JSON elements which are not allowed ...
        403:
          description: access forbidden
          schema:
            type: string
            description: >-
              `Your account is not allowed to use Search API. Please contact support/sales to enable this feature for you`
            example: Your account is not allowed to use Search API. Please contact support/sales to enable this feature for you
        429:
          description: rate limit exceeded
          schema:
            type: string
            description: >-
              Possible responses:
                * `Exceeded your account rate limit of searches`
                * `Your account is allowed to run up to ... concurrent queries via the API`
            example: Exceeded your account rate limit of searches
        503:
          description: service unavailable
          schema:
            type: string
            description: >-
              `Our service is temporarily unavailable.`
            example: Our service is temporarily unavailable.
  /scroll:
    post:
      summary: Run a paginated Elasticsearch query
      tags:
        - Search logs
      description: ''
      operationId: scroll
      parameters:
        - in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/ScrollRequest'
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/ScrollResponse'

  # ::::: TRIGGERS (ALERTS & OPTIMIZERS)
  /triggers/alerts/{id}:
    get:
      operationId: getAlert
      summary: Retrieve alert by ID
      tags:
        - Retrieve alert definitions
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
          description: ID of the alert to be retrieved
          x-example: 99999
      responses:
        200:
          description: successful operation
    put:
      operationId: updateAlert
      summary: Update an alert
      tags:
        - Create, update, or delete alert definitions
      parameters:
        - in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/SearchBasedTrigger'
        - name: id
          in: path
          required: true
          type: integer
          format: int32
          description: ID of the alert
      responses:
        200:
          description: successful operation
    delete:
      operationId: deleteAlert
      summary: Delete an alert
      tags:
        - Create, update, or delete alert definitions
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
        - name: X-API-TOKEN
          in: header
          description: Authentication Api Token
          required: false
          type: string
        - name: X-AUTH-TOKEN
          in: header
          description: Authentication User Session
          required: false
          type: string
      responses:
        200:
          description: successful operation
  /triggers/alerts:
    get:
      operationId: getAllAlerts
      summary: Retrieve all alerts
      tags:
        - Retrieve alert definitions
      responses:
        200:
          description: successful operation
    post:
      operationId: createAlert
      summary: Create a new alert definition
      tags:
        - Create, update, or delete alert definitions
      parameters:
        - in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/SearchBasedTrigger'
      responses:
        200:
          description: successful operation
  /triggers/alerts/filtered-list:
    post:
      summary: Retrieve filtered list of alerts
      description: ''
      operationId: getFilteredAlerts
      tags:
        - Retrieve alert definitions
      parameters:
        - in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/FilteredAlertsRequest'
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/PageResponseSearchBasedTrigger'
  /triggers/{id}:
    get:
      operationId: getTrigger
      summary: Retrieve optimizer by ID
      tags:
        - Retrieve optimizer definitions
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/SearchBasedTrigger'
          headers: {}
    put:
      operationId: updateTrigger
      summary: Update an optimizer
      tags:
        - Create, update, or delete optimizer definitions
      parameters:
        - in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/SearchBasedTrigger'
        - name: id
          in: path
          required: true
          type: integer
          format: int32
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/SearchBasedTrigger'
          headers: {}
    delete:
      operationId: deleteTrigger
      summary: Delete an optimizer
      tags:
        - Create, update, or delete optimizer definitions
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/SearchBasedTrigger'
          headers: {}
  /triggers:
    get:
      operationId: getAllTriggers
      summary: Retrieve all optimizers
      tags:
        - Retrieve optimizer definitions
      responses:
        200:
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/SearchBasedTrigger'
          headers: {}
    post:
      operationId: createTrigger
      summary: Create a new optimizer
      tags:
        - Create, update, or delete optimizer definitions
      parameters:
        - in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/SearchBasedTrigger'
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/SearchBasedTrigger'
          headers: {}
  /triggers/filtered-list:
    post:
      operationId: getFilteredTriggersList
      summary: Retrieve a filtered list of optimizers
      tags:
        - Retrieve optimizer definitions
      parameters:
        - in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/FilteredTriggersRequest'
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/PageResponseSearchBasedTrigger'
          headers: {}

  # ::::: AUDIT TRAIL
  /audit-trail/event-types:
    post:
      operationId: listAccountAuditTrails
      summary: Retrieve event types that are in the audit trail
      tags:
        - Retrieve audit trail
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/AuditTrailEventTypesResponse'
          headers: {}
  /audit-trail:
    post:
      operationId: listAccountAuditTrails
      summary: Retrieve filtered audit trail
      tags:
        - Retrieve audit trail
      parameters:
        - in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/AuditTrailFilterRequest'
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/AuditTrailFilteredResponse'
          headers: {}

  # ::::: CLOUDTRAIL
  /log-shipping/cloudtrails:
    get:
      operationId: getAccountCloudTrails
      summary: Retrieve all account CloudTrails
      tags:
        - Retrieve account CloudTrails
      responses:
        200:
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/CloudTrailResponse'
          headers: {}
    post:
      operationId: createCloudTrail
      tags:
        - Create, update, or delete CloudTrails
      summary: Create new CloudTrail
      description: ''
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/CloudTrailRequest'
        - name: X-API-TOKEN
          in: header
          description: Authentication Api Token
          required: false
          type: string
        - name: X-AUTH-TOKEN
          in: header
          description: Authentication User Session
          required: false
          type: string
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/IdBean'
  /log-shipping/cloudtrails/{id}:
    get:
      operationId: getCloudTrail
      summary: Retrieve CloudTrail by ID
      tags:
        - Retrieve account CloudTrails
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/CloudTrailResponse'
          headers: {}
    put:
      operationId: updateCloudTrail
      summary: Update CloudTrail
      tags:
        - Create, update, or delete CloudTrails
      parameters:
        - in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/CloudTrailRequest'
        - name: id
          in: path
          required: true
          type: integer
          format: int32
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/MessageBean'
          headers: {}
    delete:
      operationId: deleteCloudTrail
      summary: Delete a CloudTrail
      tags:
        - Create, update, or delete CloudTrails
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
        - name: X-API-TOKEN
          in: header
          description: Authentication Api Token
          required: false
          type: string
        - name: X-AUTH-TOKEN
          in: header
          description: Authentication User Session
          required: false
          type: string
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/MessageBean'
          headers: {}

  # ::::: NOTIFICATION ENDPOINTS
  /endpoints/slack:
    post:
      operationId: createSlack
      summary: Create Slack endpoint
      tags:
        - Create endpoints
      description: ''
      parameters:
        - name: test
          in: query
          required: false
          type: boolean
          default: false
        - in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/SlackEndpointUpsertRequest'
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/EndpointUpsertResponse'
  '/endpoints/slack/{id}':
    put:
      tags:
        - Update endpoints
      summary: Update Slack endpoint
      description: ''
      operationId: updateSlack
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
        - name: test
          in: query
          required: false
          type: boolean
          default: false
        - in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/SlackEndpointUpsertRequest'
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/EndpointUpsertResponse'
  /endpoints/custom:
    post:
      tags:
        - Create endpoints
      summary: Create custom endpoint
      description: ''
      operationId: createCustom
      parameters:
        - name: test
          in: query
          required: false
          type: boolean
          default: false
        - in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/CustomEndpointUpsertRequest'
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/EndpointUpsertResponse'
  '/endpoints/custom/{id}':
    put:
      tags:
        - Update endpoints
      summary: Update custom endpoint
      description: ''
      operationId: updateCustom
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
        - name: test
          in: query
          required: false
          type: boolean
          default: false
        - in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/CustomEndpointUpsertRequest'
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/EndpointUpsertResponse'
  /endpoints/pager-duty:
    post:
      tags:
        - Create endpoints
      summary: Create PagerDuty endpoint
      description: ''
      operationId: createPagerDuty
      parameters:
        - name: test
          in: query
          required: false
          type: boolean
          default: false
        - in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/PagerDutyEndpointUpsertRequest'
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/EndpointUpsertResponse'
  '/endpoints/pager-duty/{id}':
    put:
      tags:
        - Update endpoints
      summary: Update PagerDuty endpoint
      description: ''
      operationId: updatePagerDuty
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
        - name: test
          in: query
          required: false
          type: boolean
          default: false
        - in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/PagerDutyEndpointUpsertRequest'
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/EndpointUpsertResponse'
  /endpoints/big-panda:
    post:
      tags:
        - Create endpoints
      summary: Create BigPanda endpoint
      description: ''
      operationId: createBigPanda
      parameters:
        - name: test
          in: query
          required: false
          type: boolean
          default: false
        - in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/BigPandaEndpointUpsertRequest'
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/EndpointUpsertResponse'
  '/endpoints/big-panda/{id}':
    put:
      tags:
        - Update endpoints
      summary: Update BigPanda endpoint
      description: ''
      operationId: updateBigPanda
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
        - name: test
          in: query
          required: false
          type: boolean
          default: false
        - in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/BigPandaEndpointUpsertRequest'
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/EndpointUpsertResponse'
  /endpoints/data-dog:
    post:
      tags:
        - Create endpoints
      summary: Create Datadog endpoint
      description: ''
      operationId: createDataDog
      parameters:
        - name: test
          in: query
          required: false
          type: boolean
          default: false
        - in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/DatadogEndpointUpsertRequest'
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/EndpointUpsertResponse'
  '/endpoints/data-dog/{id}':
    put:
      tags:
        - Update endpoint
      summary: Update Datadog endpoint
      description: ''
      operationId: updateDataDog
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
        - name: test
          in: query
          required: false
          type: boolean
          default: false
        - in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/DatadogEndpointUpsertRequest'
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/EndpointUpsertResponse'
  /endpoints/victorops:
    post:
      tags:
        - Create endpoints
      summary: Create VictorOps endpoint
      description: ''
      operationId: createVictorops
      parameters:
        - name: test
          in: query
          required: false
          type: boolean
          default: false
        - in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/VictoropsEndpointUpsertRequest'
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/EndpointUpsertResponse'
  '/endpoints/victorops/{id}':
    put:
      tags:
        - Update endpoints
      summary: Update VictorOps endpoint
      description: ''
      operationId: updateVictorops
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
        - name: test
          in: query
          required: false
          type: boolean
          default: false
        - in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/VictoropsEndpointUpsertRequest'
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/EndpointUpsertResponse'
  /endpoints/{id}:
    get:
      tags:
        - Retrieve endpoints
      summary: Retrieve endpoint by ID
      description: ''
      operationId: get
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/Endpoint'
    delete:
      tags:
        - Delete endpoints
      summary: Delete an endpoint
      description: ''
      operationId: delete
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
      responses:
        200:
          description: successful operation
  /endpoints:
    get:
      tags:
        - Retrieve endpoints
      summary: Retrieve all account endpoints
      description: ''
      operationId: list
      responses:
        200:
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/Endpoint'

  # ::::: KIBANA IMPORT/EXPORT
  /kibana/export:
    post:
      tags:
        - Import or export Kibana objects
      summary: Export Kibana objects
      description: ''
      operationId: exportSavedObjects
      parameters:
        - in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/KibanaExportRequest'
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/KibanaExportResponse'
  /kibana/import:
    post:
      tags:
        - Import or export Kibana objects
      summary: Import Kibana objects
      description: ''
      operationId: importSavedObjects
      parameters:
        - in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/KibanaImportRequest'
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/KibanaImportResponse'

  # ::::: SHARED TOKENS
  /shared-tokens/filters:
    get:
      operationId: getAllFilters
      summary: Retrieve token filters
      tags:
        - Retrieve tokens and filters
      responses:
        200:
          description: successful operation
          schema:
            type: array
            uniqueItems: true
            items:
              $ref: '#/definitions/QueryFilter'
          headers: {}
    post:
      operationId: createFilter
      summary: Create a filter
      tags:
        - Create, update, or delete tokens and filters
      parameters:
        - in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/QueryFilter'
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/QueryFilter'
          headers: {}
  /shared-tokens/filters/{id}:
    get:
      operationId: getFilter
      summary: Retrieve a filter by ID
      tags:
        - Retrieve tokens and filters
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/QueryFilter'
          headers: {}
    delete:
      operationId: deleteFilter
      summary: Delete a filter
      tags:
        - Create, update, or delete tokens and filters
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
        - name: X-API-TOKEN
          in: header
          description: Authentication Api Token
          required: false
          type: string
        - name: X-AUTH-TOKEN
          in: header
          description: Authentication User Session
          required: false
          type: string
      responses:
        default:
          description: successful operation
  /shared-tokens/{id}:
    get:
      operationId: getToken
      summary: Retrieve a token by ID
      tags:
        - Retrieve tokens and filters
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/SharedToken'
          headers: {}
    put:
      operationId: updateToken
      summary: Update a token
      tags:
        - Create, update, or delete tokens and filters
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
        - in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/UpdateSharedTokenRequest'
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/SharedToken'
          headers: {}
    delete:
      operationId: deleteToken
      summary: Delete a token
      tags:
        - Create, update, or delete tokens and filters
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
      responses:
        default:
          description: successful operation
  /shared-tokens:
    get:
      operationId: getAllTokens
      summary: Retrieve all tokens
      tags:
        - Retrieve tokens and filters
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: X-API-TOKEN
          in: header
          description: Authentication Api Token
          required: false
          type: string
        - name: X-AUTH-TOKEN
          in: header
          description: Authentication User Session
          required: false
          type: string
      responses:
        200:
          description: successful operation
          schema:
            type: array
            uniqueItems: true
            items:
              $ref: '#/definitions/SharedToken'
          headers: {}
    post:
      operationId: createToken
      summary: Create a token
      tags:
        - Create, update, or delete tokens and filters
      parameters:
        - in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/CreateSharedTokenRequest'
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/SharedToken'
          headers: {}


definitions:
  # ::::: ACCOUNTS DEFINITIONS
  AccountUtilizationSettings:
    type: object
    description: Account settings for writing utilization metrics
    properties:
      frequencyMinutes:
        type: integer
        format: int32
        description: How often utilization metrics are written to logs, in minutes
      utilizationEnabled:
        type: boolean
        description: If utilization metrics are written to logs, `true`. Otherwise, `false`.
    example:
      frequencyMinutes: 5
      utilizationEnabled: true
  AccountView:
    type: object
    properties:
      accountId:
        type: integer
        format: int32
      accountName:
        type: string
      accountToken:
        type: string
      active:
        type: boolean
      esIndexPrefix:
        type: string
      maxDailyGB:
        type: number
        format: float
      retentionDays:
        type: integer
        format: int32
        description: Data retention time, in days
  DailyUsagesList:
    type: object
    properties:
      usage:
        type: array
        items:
          $ref: '#/definitions/LHDailyCount'
  DetailedTimeBasedAccount:
    type: object
    properties:
      subAccountRelation:
        $ref: '#/definitions/SubAccountRelation'
      account:
        $ref: '#/definitions/AccountView'
      sharingObjectsAccounts:
        type: array
        items:
          $ref: '#/definitions/AccountView'
      utilizationSettings:
        $ref: '#/definitions/AccountUtilizationSettings'
      dailyUsagesList:
        $ref: '#/definitions/DailyUsagesList'
      docSizeSetting:
        $ref: '#/definitions/DocSizeSetting'
  LHDailyCount:
    type: object
    properties:
      date:
        type: integer
        format: int64
      bytes:
        type: integer
        format: int64
  SharingAccount:
    type: object
    properties:
      accountId:
        type: integer
        format: int32
        description: ID of the account
        example: 88888
      accountName:
        type: string
        description: Name of the account
        example: dev group 8
  SubAccountRelation:
    type: object
    description: List of sub accounts
    properties:
      ownerAccountId:
        type: integer
        format: int32
        description: ID of the owner account
        example: 88765
      subAccountId:
        type: integer
        format: int32
        description: ID of the sub account
        example: 89234
      searchable:
        $ref: "#/definitions/Searchable"
      accessible:
        $ref: "#/definitions/Accessible"
      createdDate:
        type: string
        format: date-time
        description: >-
          Date this account was created.
          Format: `{yyyy}-{mm}-{dd}T{hh}:{mm}:{ss}Z`
        example: 2018-02-22T09:14:53Z
      lastUpdatedDate:
        type: string
        format: date-time
        description: >-
          Date this account was last updated.
          Format: `{yyyy}-{mm}-{dd}T{hh}:{mm}:{ss}Z`
        example: 2018-04-01T19:18:38Z
      lastUpdaterUserId:
        type: integer
        format: int32
        description: ID of the user who last updated this account
        example: 33342
      type:
        type: string
        enum:
          - OWNER_ACCOUNT
          - SUB_ACCOUNT
          - TIMELESS_INDEX
          - ALL
        description: Account type
        example: SUB_ACCOUNT
  TimeBasedAccount:
    type: object
    properties:
      accountId:
        type: integer
        format: int32
        description: ID of the account
        example: 99999
      email:
        type: string
        description: Email address of the user who created the account
      accountName:
        type: string
        description: Name of the account
        example: 404 errors
      accountToken:
        type: string
        description: Account token (unique to this account)
        example: f483abe93b
      maxDailyGB:
        type: number
        format: float
        description: Maximum daily usage, in GB
        example: 100
      retentionDays:
        type: integer
        format: int32
        description: Data retention time, in days
        example: 5
      searchable:
        $ref: "#/definitions/Searchable"
      accessible:
        $ref: "#/definitions/Accessible"
      docSizeSetting:
        $ref: '#/definitions/DocSizeSetting'
      sharingObjectsAccounts:
        type: array
        items:
          $ref: '#/definitions/SharingAccount'
        description: Accounts that can access this account's data
      utilizationSettings:
        $ref: '#/definitions/AccountUtilizationSettings'
  TimeBasedAccountCreationResponse:
    type: object
    properties:
      accountId:
        type: integer
        format: int32
        description: ID of the account
      accountToken:
        type: string
        description: Account token (unique to this account)
  TimeBasedAccountUpsertRequest:
    type: object
    required:
      - sharingObjectsAccounts
    properties:
      email:
        type: string
        pattern: "^[_A-Za-z0-9-\\+]+(\\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\\.[A-Za-z0-9-]+)*(\\.[A-Za-z]{2,})$"
        description: Account administrator's email address
        example: support@logz.io
      accountName:
        type: string
        description: Name of the account
        example: AWS Lambda svr 3
      maxDailyGB:
        type: number
        format: float
        description: Maximum daily usage, in GB
        example: 5
      retentionDays:
        type: integer
        format: int32
        description: Data retention time, in days
        example: 5
      searchable:
        $ref: "#/definitions/Searchable"
      accessible:
        $ref: "#/definitions/Accessible"
      sharingObjectsAccounts:
        type: array
        items:
          $ref: '#/definitions/SharingAccount'
        description: Accounts that can access this account's data
      docSizeSetting:
        $ref: '#/definitions/DocSizeSetting'
      utilizationSettings:
        $ref: '#/definitions/AccountUtilizationSettings'
  Searchable:
    type: boolean
    description: If other accounts can search this account's logs, `true`. Otherwise, `false`.
    example: true
  Accessible:
    type: boolean
    description: If users of the main account can access this account, `true`. Otherwise, `false`.
    example: false
  DocSizeSetting:
    type: boolean
    description: If document size is attached to logs, `true`. Otherwise, `false`.
    example: true

  # ::::: TRIGGERS DEFINITIONS
  SearchBasedTrigger:
    type: object
    required:
      - output
      - search
      - triggerOn
    properties:
      id:
        type: integer
        format: int32
        description: ID of the alert
      name:
        type: string
        description: Name of the alert
      description:
        type: string
        description: Detailed description of the alert
      enabled:
        type: boolean
        description: If this alert is enabled, `true`. Otherwise, `false`.
      search:
        $ref: '#/definitions/TriggerSearchParameters'
      triggerOn:
        $ref: '#/definitions/TriggerOn'
      output:
        $ref: '#/definitions/TriggerOutput'
      lastUpdatedOn:
        type: integer
        format: int64
      lastUpdateBy:
        type: string
      createdOn:
        type: integer
        format: int64
      createdBy:
        type: string
  TriggerSearchParameters:
    type: object
    required:
      - queryString
    properties:
      queryString:
        type: string
        description: Elasticsearch query used by the alert
        example: loglevel:ERROR
      filter:
        type: string
        description: Filter to be performed on `queryString`
        example: {"bool":{"must":[{"match":{"type":"mytype"}}],"must_not":[]}}
      groupBy:
        type: array
        items:
          type: string
        maxItems: 3
        minItems: 0
      periodInMinutes:
        type: integer
        format: int32
      source:
        $ref: '#/definitions/TriggerSearchSources'
      metricsAggregations:
        type: array
        items:
          $ref: '#/definitions/Aggregation'
  TriggerSearchSources:
    type: object
    properties:
      allTimelessIndices:
        type: boolean
      timelessIndices:
        type: array
        items:
          type: integer
          format: int32
      allSubAccounts:
        type: boolean
      subAccountsIds:
        type: array
        items:
          type: integer
          format: int32
  Aggregation:
    type: object
    properties:
      aggregationType:
        type: string
        enum:
          - SUM
          - MIN
          - MAX
          - AVG
          - COUNT
          - UNIQUE_COUNT
          - NONE
      fieldToAggregateOn:
        type: string
  TriggerOn:
    type: object
    discriminator: type
    properties:
      type:
        type: string
        enum:
          - CONDITION
          - SCHEDULE
  TriggerOutput:
    type: object
    required:
      - format
      - target
    properties:
      format:
        $ref: '#/definitions/Format'
      target:
        $ref: '#/definitions/Target'
  Format:
    type: object
    discriminator: type
  Target:
    type: object
    properties:
      emailNotifications:
        type: string
      notificationEndpoints:
        type: array
        items:
          $ref: '#/definitions/NotificationEndpoint'
      suppressNotificationInMinutes:
        type: integer
        format: int32
        minimum: 5
      timelessIndex:
        $ref: '#/definitions/TimelessIndexTarget'
  NotificationEndpoint:
    type: object
    properties:
      id:
        type: integer
        format: int32
      accountId:
        type: integer
        format: int32
      type:
        type: string
        enum:
          - HTTP
      templateName:
        type: string
      description:
        type: string
      title:
        type: string
      createdDate:
        type: string
        format: date-time
      modifiedDate:
        type: string
        format: date-time
      params:
        $ref: '#/definitions/NotificationEndpointParams'
  NotificationEndpointParams:
    type: object
  TimelessIndexTarget:
    type: object
    properties:
      id:
        type: integer
        format: int32
      logType:
        type: string
  FilteredAlertsRequest:
    type: object
    properties:
      from:
        type: integer
        format: int32
        minimum: 0
      size:
        type: integer
        format: int32
        minimum: 1
      search:
        type: string
      severities:
        type: array
        items:
          type: string
          enum:
            - LOW
            - MEDIUM
            - HIGH
      updatedBy:
        type: array
        items:
          type: string
      createdBy:
        type: array
        items:
          type: string
      activeState:
        type: array
        items:
          type: string
          enum:
            - Active
            - Dismissed
      emailNotifications:
        type: array
        items:
          type: string
      notificationsEndpointIds:
        type: array
        items:
          type: integer
          format: int32
      lastTriggered:
        $ref: '#/definitions/LastTriggeredFilter'
      sortBy:
        type: string
        enum:
          - name
          - severity
          - createdAt
          - updatedAt
      sortOrder:
        type: string
        enum:
          - ASC
          - DESC
  LastTriggeredFilter:
    type: object
    required:
      - fromDate
      - toDate
    properties:
      fromDate:
        type: integer
        format: int64
      toDate:
        type: integer
        format: int64
  PageResponseSearchBasedTrigger:
    type: object
    properties:
      pageSize:
        type: integer
        format: int32
        minimum: 0
        maximum: 500
      from:
        type: integer
        format: int32
        minimum: 0
        maximum: 2147483647
      total:
        type: integer
        format: int64
        minimum: 0
        maximum: 500
      results:
        type: array
        items:
          $ref: '#/definitions/SearchBasedTrigger'
  TriggerContributingUser:
    type: object
    properties:
      username:
        type: string
        readOnly: true
      fullName:
        type: string
        readOnly: true
      isToken:
        type: boolean
      token:
        type: boolean
  FilteredTriggersRequest:
    type: object
    properties:
      from:
        type: integer
        format: int32
        minimum: 0
      size:
        type: integer
        format: int32
        minimum: 1
      search:
        type: string
      updatedBy:
        type: array
        items:
          type: string
      createdBy:
        type: array
        items:
          type: string
      activeState:
        type: array
        items:
          type: string
          enum:
            - Active
            - Dismissed
      sortBy:
        type: string
      sortOrder:
        type: string
        enum:
          - ASC
          - DESC

  # ::::: AUDIT TRAIL DEFINITIONS
  AuditTrailEventTypesResponse:
    type: object
    properties:
      eventTypes:
        type: array
        items:
          type: string
  AuditEventData:
    type: object
    properties:
      auditEventUser:
        $ref: '#/definitions/AuditEventUser'
      date:
        type: integer
        format: int64
      auditEventTypeTitle:
        type: string
      ip:
        type: string
      geoLocation:
        type: string
      extraDataList:
        type: array
        items:
          $ref: '#/definitions/AuditEventExtraData'
      valid:
        type: boolean
  AuditEventExtraData:
    type: object
    properties:
      fieldName:
        type: string
      oldValue:
        type: string
      newValue:
        type: string
  AuditEventTypeData:
    type: object
    properties:
      auditEventType:
        type: string
      auditEventTypeTitle:
        type: string
  AuditEventUser:
    type: object
    properties:
      id:
        type: integer
        format: int32
      fullName:
        type: string
      deleted:
        type: boolean
      userToken:
        type: boolean
  AuditTrailFilteredResponse:
    type: object
    properties:
      pageSize:
        type: integer
        format: int32
        minimum: 0
        maximum: 500
      from:
        type: integer
        format: int32
        minimum: 0
        maximum: 2147483647
      total:
        type: integer
        format: int64
        minimum: 0
        maximum: 500
      results:
        type: array
        items:
          $ref: '#/definitions/AuditEventData'
      auditEventUsersList:
        type: array
        items:
          $ref: '#/definitions/AuditEventUser'
      auditEventTypesList:
        type: array
        items:
          $ref: '#/definitions/AuditEventTypeData'
  AuditTrailFilterRequest:
    type: object
    properties:
      size:
        type: integer
        format: int32
        minimum: 0
        maximum: 500
      from:
        type: integer
        format: int32
        minimum: 0
        maximum: 2147483647
      auditEventUser:
        $ref: '#/definitions/AuditEventUser'
      auditEventType:
        type: string
      fromDate:
        type: integer
        format: int64
      toDate:
        type: integer
        format: int64
      sortDescending:
        type: boolean
      includeFiltersData:
        type: boolean

  # ::::: CLOUDTRAIL DEFINITIONS
  CloudTrailResponse:
    type: object
    properties:
      id:
        type: integer
        format: int32
      accessKey:
        type: string
      bucket:
        type: string
      prefix:
        type: string
      active:
        type: boolean
  IdBean:
    type: object
    properties:
      id:
        type: integer
        format: int32
        readOnly: true
        minimum: 1
  CloudTrailRequest:
    type: object
    properties:
      accessKey:
        type: string
      secretKey:
        type: string
      bucket:
        type: string
      prefix:
        type: string
      active:
        type: boolean
  MessageBean:
    type: object
    properties:
      message:
        type: string
        readOnly: true

  # ::::: NOTIFICATION ENDPOINTS DEFINITIONS
  EndpointUpsertResponse:
    type: object
    properties:
      id:
        type: integer
        format: int32
  SlackEndpointUpsertRequest:
    type: object
    properties:
      title:
        type: string
      description:
        type: string
      url:
        type: string
  CustomEndpointUpsertRequest:
    type: object
    properties:
      title:
        type: string
      description:
        type: string
      url:
        type: string
      method:
        type: string
      headers:
        type: string
      bodyTemplate:
        type: object
        additionalProperties:
          type: object
  PagerDutyEndpointUpsertRequest:
    type: object
    properties:
      title:
        type: string
      description:
        type: string
      serviceKey:
        type: string
  BigPandaEndpointUpsertRequest:
    type: object
    properties:
      title:
        type: string
      description:
        type: string
      apiToken:
        type: string
      appKey:
        type: string
  DatadogEndpointUpsertRequest:
    type: object
    properties:
      title:
        type: string
      description:
        type: string
      apiKey:
        type: string
  VictoropsEndpointUpsertRequest:
    type: object
    required:
      - messageType
      - routingKey
      - serviceApiKey
    properties:
      title:
        type: string
      description:
        type: string
      routingKey:
        type: string
      messageType:
        type: string
      serviceApiKey:
        type: string
  RefreshEndpointsRequest:
    type: object
    properties:
      endpointIds:
        type: array
        items:
          type: integer
          format: int32
  Endpoint:
    type: object
    properties:
      endpointType:
        type: string
        enum:
          - BigPanda
          - Slack
          - Datadog
          - Custom
          - PagerDuty
          - VictorOps
      id:
        type: integer
        format: int32
      title:
        type: string
      description:
        type: string

  # ::::: KIBANA IMPORT/EXPORT DEFINITIONS
  KibanaExportResponse:
    type: object
    properties:
      kibanaVersion:
        type: string
        readOnly: true
      hits:
        type: array
        readOnly: true
        items:
          type: object
  KibanaExportRequest:
    type: object
    required:
      - type
    properties:
      type:
        type: string
        enum:
          - none
          - search
          - visualization
          - dashboard
  KibanaImportResponse:
    type: object
    properties:
      created:
        type: array
        readOnly: true
        items:
          type: string
      updated:
        type: array
        readOnly: true
        items:
          type: string
      ignored:
        type: array
        readOnly: true
        items:
          type: string
      failed:
        type: array
        readOnly: true
        items:
          type: string
  KibanaImportRequest:
    type: object
    properties:
      kibanaVersion:
        type: string
      override:
        type: boolean
      hits:
        type: array
        items:
          type: object
          additionalProperties:
            type: object

  # ::::: SEARCH, SCROLL DEFINITIONS
  ScrollResponse:
    type: object
    properties:
      code:
        type: integer
        format: int32
        readOnly: true
      scrollId:
        type: string
        readOnly: true
      hits:
        type: string
        readOnly: true
  ScrollRequest:
    type: object
    properties:
      query:
        type: object
        additionalProperties:
          type: object
      size:
        type: integer
        format: int32
      from:
        type: integer
        format: int32
        minimum: 0
      sort:
        type: array
        items:
          type: object
      _source:
        type: object
        additionalProperties:
          type: object
      post_filter:
        type: object
        additionalProperties:
          type: object
      scroll_id:
        type: string
      scroll:
        type: string

  # ::::: SHARED TOKENS DEFINITIONS
  QueryFilter:
    type: object
    required:
      - field
      - value
    properties:
      id:
        type: integer
        format: int32
      field:
        type: string
        pattern: '^[a-zA-Z0-9_@.-]+$'
      value:
        type: string
        pattern: '^[a-zA-Z0-9_@.-]+$'
      description:
        type: string
  SharedToken:
    type: object
    properties:
      id:
        type: integer
        format: int32
      name:
        type: string
      token:
        type: string
      filters:
        type: array
        uniqueItems: true
        items:
          type: integer
          format: int32
  CreateSharedTokenRequest:
    type: object
    properties:
      tokenName:
        type: string
      filters:
        type: array
        uniqueItems: true
        items:
          type: integer
          format: int32
  UpdateSharedTokenRequest:
    type: object
    required:
      - filters
    properties:
      filters:
        type: array
        uniqueItems: true
        items:
          type: integer
          format: int32
